.main-table-block {
    width: 900px;
    margin-left: 15%;
}

.table.main-table {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.wrapper {
    display: flex;
    position: relative;
}


.table.main-table tr td {
    vertical-align: middle;
    border: 1px solid #fff;
}

.table.main-table tr td:nth-child(1) {
    width: 100px;
}

td.user-name {
    font-size: 21px;
    font-weight: 500;
}

td > img {
    width: 70px;
    height: 70px;
}

td.user-phrase {
    max-width: 350px;
    text-align: left;
}
