.user-card-block {
    width: 380px;
    position: fixed;
    right: 15%;
    top: 270px;
    transition: top 0s linear;
}

#card-top {
    top: 0;
    transition: top 0.3s linear;
}

.user-card-block tr > td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    font-size: 20px;
    padding: 10px 0px;
}

.user-card-block td > img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}
.user-card-block td > div span {
     font-weight: 700;
}

.user-card-block tr > td.card-name {
    font-size: 2em;
    font-weight: 500;
    border-top: none;
}

.user-card-block tr > td.card-avatar {
    border-bottom: none;
}

.user-card-block tr > td.card-phrase div {
    text-align: left;
    font-size: 18px;
    margin: 0px 25px;
}

@media (max-width: 1366px) {
    .user-card-block td > img {
        width: 200px;
    }
    .user-card-block tr > td {
        font-size: 1.2em;
        padding: 5px 0px;
    }
    .user-card-block {
        width: 340px;
        right: 5%;
        top: 178px;
    }
}